[2018-05-30 17:02] tleveque23 opened #1 "Compilation error when trying to use"
As soon as I try to use the option "cacheBusterObserver" in the @Cacheable() decorator, I get a compilation error:
[code]

I have a constant declared with the right name (const productNotifier = new Subject();) in my file.

Note: It is working fine if I just use the plain @Cacheable() without any options.
Note #2: If when it is working fine without the option (using ng serve), I add the option and

[2018-05-30 17:36] tleveque23 commented on #1
I just created a very basic application that replicate the bug:
https://github.com/tleveque23/cacheablebug

Just try to run ng serve with it.

[2018-06-07 10:18] angelnikolov commented on #1
Thanks for report @tleveque23. The cacheable decorator is still using RxJs 5.5. Upgrading that to 6.0.0 will fix it. Gonna fix this soon!

[2018-06-10 11:47] angelnikolov commented on #1
@tleveque23 I published 1.0.2 which includes a fix for your issue + bumping up RxJs version to 6.2.0. Hope that resolved your issue!

[2018-06-10 11:47] #1 closed

[2018-07-11 20:02] moshejs opened #4 "how to bust a cache?"
Great module! I'm confused how to bust the cache based on an action or another API call (such as "add item, remove item, etc.)

a sample would help.

Thanks

[2018-07-12 16:47] angelnikolov commented on #4
You can achieve it by decorating the cache busting method with the `CacheBuster` decorator, like;
[code]
Going to close this issue, once I updated the readme. Thanks!!

[2018-07-16 15:17] alindberg opened #5 "How to cache GET/POST etc for multible critera"
I would like to cache the following example:

`/service/key?=1`
`/service/key?=2`

Etc.  Additional requests to the above keys would returned from cache.  Keys not matching would be returned from the HTTPClient with the results being added to the cache.

The data requests could be from either Get or Post.

Thank you for your guidance.

[2018-07-17 09:44] angelnikolov commented on #5
You don't cache the requests, but you cache methods which return Observables.
So you can create a method which takes the `key` as a parameter, and that will be used for caching. Then when you decorate the method with `@Cacheable`, you can just add the `maxCacheCount` parameter to it to specify how many unique parameters method invocations should be cached. If you decorate your method with somethin

[2018-07-20 18:04] yarrgh opened #6 "Update rxjs peer dependency"
When trying to update my packages via `ng update @angular/core` I get the following error:

Can you update package.json to use any version of rxjs 6?

Something like:
[code]

[2018-07-23 15:19] angelnikolov commented on #6
Sure thing, I will update that over the weekend. Thanks for reporting!

[2018-07-24 15:20] ThibaudAV opened #7 "Invalidate cache when parameter is an object"
Hi,

I would like to run this test in `cacheable.decorator.spec.ts`

[code]

Wouldn't it miss a clone of the parameters before saving them as old parameters. or something like that ?

Thank you for your help 🙂

UPDATE :

If you add  [cloneDeep](https://lodash.com/docs/4.17.10#cloneDeep) of the parameters before the call to the  "cacheable observable" it corrects the problem. But I still think it's

[2018-07-25 07:51] ThibaudAV commented on #7
I think we should add:
[code]
here [cacheable.decorator.ts#L79](https://github.com/angelnikolov/ngx-cacheable/blob/master/cacheable.decorator.ts#L79)

[2018-07-25 14:47] angelnikolov commented on #7
Yeah that makes sense, since you are passing a referential type, the stringify comparison that's done later will always return true. Can you make a PR about that and I will merge it and re-publish as soon as I can :) Thanks!

[2018-07-26 07:23] mendezgabriel opened #9 "How to override default values from custom config settings?"
Hi,

This is not an issue but more of a query since I'd like to pass some values to the Cacheable decorator dynamically. These would be defined in a config file and converted into an object. Essentially I have a service which contains several methods I'd like to cache like this:
`...
@Cacheable({
maxAge: this.config.cacheExpirationTimeInMilliseconds
})
    getCountries() {
        return this.http

[2018-07-26 09:12] ThibaudAV commented on #9
Why don't you use Angular environment variables ?

[2018-07-26 11:14] mendezgabriel commented on #9
It's a legacy app and I am making some performance improvements, not too much room for refactoring. Would you give me an example of how it would work with environment variables?

[2018-07-27 05:50] mendezgabriel commented on #9
Thanks! The second article gave me some ideas 👍

[2018-07-30 15:38] #7 closed

[2018-08-01 09:18] #5 closed

[2018-08-20 08:32] zymr-keshav opened #10 "TypeError: rxjs_1.of is not a function"
followings are the version details

I have added `@Cacheable` decorator in *user.service.ts* file as below

[code]

bit it throw errors

What is the reason and how to solve it?

[2018-08-21 07:07] ThibaudAV commented on #10
Maybe the version of rxjs 🤔
@Cacheable need `6.2.0` and you use `5.1.1`

[2018-09-13 19:35] ArielGueta opened #11 "Question about memory"
Thanks for this great library, very useful. I'm wondering how do u know that it does not create a memory leak in your application? I mean when the [cache](https://github.com/angelnikolov/ngx-cacheable/blob/master/cacheable.decorator.ts#L63) is garbage collected?

[2018-09-26 15:13] jmls opened #12 "changing contents of cached observable"
is it possible to change / emit new values from a cached call ?

Let's say I've loaded 40 items from an http call - and these are being displayed onscreen. Another session adds a new item - which notifies via websockets all interested clients.

How can I take this new item and insert it into the cache so my screen is updated withe the new record, without having to re-read the data from the http ca

[2018-09-26 15:21] jmls opened #13 "problem with extended methods"
I have a  base class which implements find, using <Model> as a generic and a unique url for each model, so a GET to `/api/model1/find` and `/api/model2/find` for example

each model data service extends this base service

however, if I @Cacheable() the `find` method in the base class, then the *same* data is returned from in-memory cache for any model.

ie if I first get `users` , then a subsequen

[2018-09-26 15:30] jmls commented on #13
oh unless I supply my own DEFAULT_CACHE_RESOLVER ;) maybe that will work

[2018-09-27 08:03] jmls opened #14 "change default cache resolver"
the default cache resolver simply does a JSON.stringify test against the old and new parameters. This does not take into account the position of the properties and can lead to false results (depending on your point of view).

If you were to use object-hash to compare the two objects this is no longer an issue. See the code sample below

[code]

the result of this is

this could be implemented by d

[2018-09-27 08:45] angelnikolov commented on #12
Yes, you can use
[code]

[2018-09-27 08:51] angelnikolov commented on #14
There is an option to specify a different cache resolver already. You can just supply a `cacheResolver` to the config.

[2018-09-27 08:52] #10 closed

[2018-09-27 08:52] #9 closed

[2018-09-27 08:55] jmls commented on #14
yes, I know, but this allows someone to use the hash resolver with just a simple config option

[2018-09-27 08:56] jmls commented on #12
the 40 items are an array from a api call. I now have a new item that I want to insert into this array.

[2018-09-27 08:56] angelnikolov commented on #14
How much does this increase the bundle size of the decorator?

[2018-09-27 08:59] angelnikolov commented on #12
Well can you do it @ the component level. Say you have
[code]
?

[2018-09-27 09:00] jmls commented on #14
master: -rw-rw-r-- 1 jmls jmls  5894 Sep 27 09:06 cacheable.decorator.js
branch:  -rw-rw-r-- 1 jmls jmls  6181 Sep 27 09:59 cacheable.decorator.js

although I forgot to `yarn build` (didn't realise that dist was part of the package)

[2018-09-27 09:05] jmls commented on #12
yeah, I was trying to keep it at the store level - I thought that this may be the case. At the component level won't work because the next component that makes the same api request will get the old 40 items, unless I bust the cache and re-read (Which seems a shame as I have to re-read 41 items, where I already have the 40 in memory)

Thanks

[2018-09-27 09:06] angelnikolov commented on #14
Yeah I was thinking more of the whole footprint of the `object-hash` library. Can you measure it within a real app.. Don't want to increase the footprint for everyone for such a small change :)

[2018-09-27 09:08] angelnikolov commented on #12
Yeah I remember that I was thinking about a third decorator called `@CacheUpdater`, which will basically work the same way as the `@CacheBuster` (i.e share a notifier subject) but only work one-way and be used to update the cache of the `@Cacheable` but didn't have time for it. If you got time and want to do it, go ahead, I think it will be a nice addition! :))

[2018-09-27 09:19] jmls commented on #14
ok, so I did a `ng new` and added the app.component constructor to read
[code]
then did a prod build

I then added the `object-hash` import , and changed the constructor to read
[code]
and build prod again

so the whole app bundle size increased from 172K to 208K

[2018-09-27 09:36] angelnikolov commented on #14
Let me think about that.. That's quite a jump for a 6kb library. It drags along `crypto` which is pretty big. I feel like the benefit we gain from adding this compare to what we lose is smaller and is something that can be mitigated by a better documentation, i.e - if you want your cache to resolved properly for object parameters, they should have the same shape.

[2018-09-28 09:42] fvilers opened #16 "Latest release for rxjs 5.x ?"
Hi, this is a very good library I'd like to use but I'm stuck with the version 5.x of rxjs. I tried to  use the 1.0.1 version of ngx-cacheable but the cacheBusterObserver doesn't seem to work.

Could you release the latest version with compatibility with rxjs 5?

Thanks!

[2018-10-04 11:12] #6 closed

[2018-10-10 00:56] sdeering commented on #16
Version is now "rxjs": "^6.3.2",

[2018-10-10 08:42] angelnikolov commented on #16
@fvilers I don't plan to do that since I will make things worse for most of the people using the decorator with Angular 5+. What I suggest doing is maybe installing `rxjs-compat` and seeing if that fixes the issue for ya. Thanks!

[2018-10-26 05:28] zcmander opened #18 "Upgrade rxjs version dependency"
I tried to upgrade my application from Angular 6 to 7 and because ngx-cacheable uses  rxjs version 6.2, it raises an error:

[code]

RXJS change log can be found at: [https://github.com/ReactiveX/rxjs/blob/master/CHANGELOG.md#630-2018-08-30](https://github.com/ReactiveX/rxjs/blob/master/CHANGELOG.md#630-2018-08-30)

[2018-10-26 06:19] zcmander commented on #18
Using - Force resolve the upgrade issue, altough the original issue stil remains and i can't see the reason not to upgrade.

[2018-11-02 07:50] 234akshay opened #19 "In some url pattern it is not working"
api url: products/3?page=1

3: categoryid

in above api url cache response getting empty but normally api call i get response

Api response:
![apiresponse](https://user-images.githubusercontent.com/44695280/47900181-097c2800-dea2-11e8-90ae-54146b3f5361.png)

cached response:
![cachedresponse](https://user-images.githubusercontent.com/44695280/47900186-0c771880-dea2-11e8-99b1-2c0dbc38cd8f.png)

[2018-11-02 11:11] angelnikolov commented on #19
Hey @234akshay, can you provide some snippets of code which led to this?

[2018-11-02 11:47] 234akshay commented on #19
@Cacheable({
async: true,
maxCacheCount: 1000,
maxAge: 7200000
})
callGetAPI(url: string) {
    return this.http.get<any>(environment.apiUrl + url, this.headers())
      .pipe(map(
        data => {
          return data;
        }
      ));
  }

// this way i am doing it is correct way?

[2018-11-02 12:02] angelnikolov commented on #19
And you are calling this twice with the same url?

On Fri, 2 Nov 2018 at 13:47, 234akshay <notifications@github.com> wrote:

[2018-11-02 12:41] 234akshay commented on #19
no i am calling once at a time but after sometime hit same api it is getting empty data. i don't know but at same time it is calling only once not twice that i am sure.

[2018-11-02 13:08] angelnikolov commented on #19
Can you check the network tab and confirm that no 2nd request is sent?
It doesn't make sense that just the data is empty and the rest of the payload is the same..
Also you have some other differences in the payload like `to` and `total` so I guess that's a new request.
I see that you are using one generic method that you maybe use for all `[GET]`s. You are also using a maxCacheCount which should c

[2018-11-13 00:26] #19 closed

[2018-11-17 10:51] #13 closed

[2018-11-17 10:51] #14 closed

[2018-11-17 10:52] angelnikolov commented on #4
Readme file was updated. Timely :)

[2018-11-17 10:52] #4 closed

[2018-11-17 10:54] angelnikolov commented on #18
@zcmander
Are you sure that's caused by `ngx-cacheable`'s dependency? It's listed as a peerDependency of `^6.2.0` so if your other packages allow it, it should properly install 6.3.3? Am I missing something?

[2018-11-19 16:30] zcmander commented on #18
Sure it's because of the ngx-cacheable. Npm only issues this one as a warning, so it will install newer version just fine.

Original issue occured when using ng update, so this issue might ne related to that. Anyway, because it is just a warning, to me this issue can be closed, because I can work around it, and I dont really know a lot about of the packaging in node.

[2018-11-20 15:12] angelnikolov commented on #18
Got it!

[2018-11-20 15:12] #18 closed

[2018-12-22 19:45] dscheibe opened #20 "@Cacheable on method with Guid as parameter seems not to work (Version: 1.0.7)"
The example that is working fine (with id being a Guid.toString()):

[code]
Parameter {id} is resolved to:

[code]

If i know change the string parameter type to Guid like so:

[code]
In that case for some strange reason, the parameter ${id} that is passed to my api call is resolved to:

[code]

Any idea on what i might be doing wrong here?

**NOTE: Without @Cacheable, the Guid type is working fin

[2018-12-22 20:06] angelnikolov commented on #20
Can you try calling `.toString()` on the id, before calling the method? I think the issue is because the cacheable decorator does not know that it needs to call the toString method on the Guid object to extract the actual guid.

[2018-12-22 20:34] dscheibe commented on #20
Yes, i just did that for the `id : string` parameter type example before passing it to the method and it works fine. Passing it as `id : Guid` to the method displays the object with `@Cacheable` in the debugger like that:

`{value: "143dffe4-fe9e-40fb-ad49-673f8850bff5"}`

So it is still correct but since the type has changed to `object` the `toString()` method won't work anymore and using Typescr

[2018-12-22 21:01] angelnikolov commented on #20
I reproduced your use case and it's indeed a bit tricky. However, isn't calling `toString` before passing it to the method not a solution for you?

[2018-12-22 21:36] dscheibe commented on #20
Sure, it's not the end of the world, but i don't want to change too much of my API, so this is a viable solution for now:

[code]

Maybe you can make it work in a future version, if it is not too tricky... :)

[2018-12-22 21:39] angelnikolov commented on #20
The issue is that pass the parameters through a `JSON.parse(JSON.stringify(parameters))` so we make a deep copy of those because of https://github.com/angelnikolov/ngx-cacheable/issues/7 which is also a valid issue. Let me think about it.

[2018-12-22 21:44] dscheibe commented on #20
I see, thanks for taking the time, much appreciated :)

[2018-12-23 20:56] #20 closed

[2019-01-08 10:39] crjacinro opened #21 "Cache not working on custom observables"
Is this library only compatible with HTTP observables? I have a custom observable in which i control the execution of next and complete methods.

This is my code.

`loadApplicationsWithCache(enumValue, {date: "").subscribe(this.onLoadApiComplete, this.onLoadApiError)`

`    @Cacheable()
    loadApplicationsWithCache(status: someEnumType, date: someObject)
        : Observable<Map<string, Data>> {

[2019-01-08 10:54] angelnikolov commented on #21
Hi there. Can you get me some pseudo-code out of the `loadApplications` method? Thanks!

[2019-01-08 13:44] crjacinro commented on #21
Its quite complex because it passes a lot of abstractions in our code.

Here is a snippet

`    public loadApplications(membershipStatus: MembershipApplicationStatus, dateRange: DateRange) {
        this.membershipStatus = membershipStatus;
        this.dateRange = dateRange;

        return Observable.create(this.loadApplicationsObservable);
    }

    loadApplicationsObservable = (observer: Obse

[2019-01-08 21:19] angelnikolov commented on #12
Closing due to inactivity.

[2019-01-08 21:19] #12 closed

[2019-01-08 21:31] angelnikolov commented on #21
Hmm, this very basic repro works. Can you find something different with it versus your setup?
[code]

[2019-01-14 16:14] jlfeld1 opened #22 "How do I bust all caches"
I really like this library.  The one potential deal-breaker for me is that there doesn't seem to be any way to bust all caches (like on logout.)

Am I missing this this functionality?

[2019-01-18 14:52] angelnikolov commented on #21
@crjacinro any updates?

[2019-01-18 14:56] angelnikolov commented on #22
@jlfeld1 I remember that I had something like `globalCacheBusterNotifier` in mind and even implemented parts of it, but will need to check it out.
Give me a week and you will have it :)
The API will just be a subject exported out of the `cacheable.decorator.ts` which will be integrated in every decorator instance and be used to get rid of every in-memory cache.

[2019-01-18 19:46] angelnikolov commented on #22
@jlfeld1 You will find the required behaviour in `1.0.9` which I just published. I've also updated the README with an example of how to use that functionality.
Let me know if you have any questions.

[2019-01-21 12:41] jlfeld1 commented on #22
@angelnikolov, Looks great.  thanks!

[2019-02-01 22:14] itaiRoded2 commented on #10
I have the same issue
![image](https://user-images.githubusercontent.com/8838055/52152572-6bccfc00-263c-11e9-83df-d83f5bb70712.png)

[2019-02-01 22:15] itaiRoded2 commented on #10
Sorry just saw the rxjs version. Yeh I am using "rxjs": "^5.5.2",
@Cacheable need 6.2.0 and you use 5.1.1 ( I would put this in the project homepage) :)

Thanks & all the best!

[2019-02-11 08:30] ebingeorge2006 opened #23 "ETag Caching"
Does this work with ETag?

[2019-02-12 18:52] angelnikolov commented on #23
@ebingeorge2006 Can you elaborate a bit more on that?

[2019-02-12 18:52] #21 closed

[2019-02-15 18:55] tmburnell commented on #23
https://en.wikipedia.org/wiki/HTTP_ETag

To me ETag sounds like a server side managed caching (client does have to send the tag back up though).

Where the library here is strictly client-side, and only knows to refresh if one of the following is true:
1) The cache limit has been hit
2) Request params have changed
3) A buster function has been called

[2019-02-26 11:05] angelnikolov commented on #23
@ebingeorge2006 as @tmburnell, the library only covers client-side in-memory caching so I guess - yes, it should work with any ETag implementation you have, but it does not provide it.

[2019-02-26 11:05] #23 closed

[2019-03-20 01:07] rafaelfgx opened #25 "'Cacheable' is not initialized at ngx-cacheable\dist\cacheable.decorator.ts"
Hello!

First I want to thank you for the great work!

I am having the following error in the latest versions (1.1.0, 1.1.1, 1.1.2, 1.1.3) when running ng serve:

Only initialized variables and constants can be referenced in decorators because the value of this variable is needed by the template compiler in 'Cacheable'
'Cacheable' references 'Cacheable'
'Cacheable' is not initialized at ngx-cachea

[2019-03-20 08:49] angelnikolov commented on #25
Hm, will try it out and get back to you with a solution. In the meantime it will be really helpful if you create a stackblitz wher this is reproducible :)

[2019-03-20 17:46] rafaelfgx commented on #25
I'm trying to simulate the error, but apparently it's something very specific.

[2019-03-20 17:54] angelnikolov commented on #25
I will take a look tomorrow. Thanks for the info!

[2019-03-20 17:57] rafaelfgx commented on #25
Thank you for your time, I will also make several attempts to discover the error.

[2019-03-23 10:40] nico13051995 commented on #25
I have the same issue, but only with AOT, version 1.0.9 works great.

[2019-03-23 12:31] angelnikolov commented on #25
I think it has something to do with the new function expressions I added as part of the refactor, as mentioned here https://angular.io/guide/aot-compiler#metadata-restrictions
Will try to resolve those asap. Thanks guys!

[2019-03-23 23:21] angelnikolov commented on #25
Fixed in https://github.com/angelnikolov/ngx-cacheable/commit/43aa04d8a66a933f3d42aceaf3eaaa2908bbce9a

[2019-03-23 23:21] #25 closed

[2019-03-24 03:48] rafaelfgx commented on #25
Well done! Thank you! 👍

[2019-03-26 12:47] lordcoste opened #26 "Ionic 4: still hitting API"
Hi, I'm using the Cacheable decorator in one of my service but I always hit the real API.

I'm using Ionic 4 and angular 7.

[code]

I've also tried without the pipe, but the result is the same.
Could it have something to do with providedIn root and  lazy loading?

Thanks for your help.

[2019-03-26 12:51] angelnikolov commented on #26
Hey @lordcoste, I doubt it that it has something to do with the lazy loading since `Cacheable` is just a decorator and shouldn't be affected by it and it should start working once it loads lazily. Can you show me how you are invoking `getAdvs`?

[2019-03-26 12:54] lordcoste commented on #26
sure:

[code]

[2019-03-26 12:55] angelnikolov commented on #26
Hm, can you put a console.log in your method, like:
[code]
and confirm that it really gets called multiple times with **the same** argument?

[2019-03-26 13:04] lordcoste commented on #26
I see, I'm switching from one place to another:

[code]

if I increase maxCacheCount it works.

Can you confirm that this is the correct behaviour?

Most of my users will have just one place and setting maxCacheCount: 5 will cover everyone.

[2019-03-26 13:06] angelnikolov commented on #26
Yes, this is the correct behaviour.
If you just set it up with @Cacheable({}), i.e - no config, it will cache everything until the method is called with a new parameter - 2 in your case.
If you set the `maxCacheCount` to 5, it will keep up to 5 parameter/response pairs in the cache.

[2019-03-26 13:07] lordcoste commented on #26
Thank you :)

[2019-03-26 13:07] #26 closed

[2019-03-27 08:28] juan-db opened #27 "LICENSE file"
Hi.

I see the repository does not have a license file. According to the npm page for the project it is licensed under the ISC license.

I'd recommend adding a `LICENSE` file to the repository itself.

You can copy the license from [here](https://choosealicense.com/licenses/isc/) and just populate the year and fullname fields.

[2019-03-27 09:22] angelnikolov commented on #27
Thank you!

[2019-03-27 09:22] #27 closed

[2019-03-28 13:42] fimius23 opened #29 "throwError() result is cached"
Sometimes I like to validate the arguments for the function where the httpClient is used. If the arguments are invalid I use the throwError() function. Currently the logic of your library (which I find to be a great solution that inventively uses the power of typescript) will cache the result of throwError(). I wonder if it could not cache the result.

I did find a way around, which is to instanti

[2019-03-28 19:41] angelnikolov commented on #29
Hey @fimius23, I will try to find some time tomorrow or over the weekend, but in the meantime - a stackblitz repro is always welcome :)))

[2019-03-29 19:59] fimius23 commented on #29
I'm not able to reproduce this problem. I did have a witness who swears he saw it too, and we are both confused. Hopefully I didn't waste any of your time!

[2019-03-29 20:05] fimius23 opened #30 "Default arguments in functions not working"
If I have a default argument in a function, and pass `void 0` to the function call, the default argument does not get applied. Looks like your method of cloning parameters turns undefined into null. This time I do have a working example... :)

https://stackblitz.com/edit/angular-gvjnvx?file=src%2Fapp%2Ftest.service.spec.ts

[2019-03-29 20:05] fimius23 commented on #29
Not reproducible.

[2019-03-29 20:05] #29 closed

[2019-03-29 21:17] #30 closed

[2019-03-29 21:17] angelnikolov commented on #30
Nice one! Fixed and tested. Will publish 1.1.5 in a minute.

[2019-04-03 13:21] fubar-coder opened #33 "Support for noImplicitAny"
Currently, using this package fails when referenced by a project that uses `noImplicitAny`.

[2019-04-03 13:27] angelnikolov commented on #33
Noted, will fix soon :)

[2019-04-08 12:42] kthomas182 opened #34 "cacheBusterNotifier from another service?"
Is it possible to set a cacheBusterNotifier from another service?

Ex.

- Orders (order.service.ts) is cached for 5 minutes.
- I create a new order (order-entry.service.ts).
- When it is successful I want to send a cacheBuster notification to the order.service.ts method for getOrders()

[2019-04-08 16:21] angelnikolov commented on #34
Yes, you can just create a third file and create the subject there like:
[code]
Then, where your cache buster service is (orer-entry.service.ts), use it like:
[code]
and in the `order.service.ts` -
[code]

[2019-04-08 17:02] angelnikolov commented on #34
@kthomas182, let me know if you got any other questions. Closing this for now :)

[2019-04-08 17:02] #34 closed

[2019-04-14 17:25] angelnikolov commented on #33
@fubar-coder Fixed in 1.1.8 by https://github.com/angelnikolov/ngx-cacheable/pull/35

[2019-04-14 18:25] #33 closed

[2019-04-21 00:36] justin1291 opened #36 "HTTP POST with Options error"
Using @Cacheable() on method with three arguments fails. Cannot pass options into annotated method and only into http.post call.

[2019-04-21 08:54] angelnikolov commented on #36
I am not sure what exactly do you mean. Can you provide an example?

[2019-04-21 18:19] echeyne opened #37 "Module build failing (v1.1.9)"
I just upgraded version of 1.1.9 of `ngx-cacheable` and when I try and compile my app I get the following error:

[code]

[2019-04-22 08:36] angelnikolov commented on #37
@echeyne Should be fixed in 1.2.0. Would you please try again and close the issue if it works :)?
Thank you!

[2019-04-22 16:59] echeyne commented on #37
Fixed, thanks for such a fast response :)

[2019-04-22 16:59] #37 closed

[2019-04-23 14:12] angelnikolov commented on #36
@justin1291 🏓

[2019-04-27 18:14] angelnikolov commented on #36
Closing due to inactivity. Please open a new issue if the problem still exists.

[2019-04-27 18:14] #36 closed

[2019-05-12 19:15] exc414 opened #38 "Anguar 7 - Request URL is changed when using @Cacheable"
Hello,

I found this library from an article [here ](https://itnext.io/improve-your-angular-app-performance-by-using-this-simple-observable-cache-decorator-71e81dfa76ae)

I added the @Cacheable annotation to a request method that makes a GET request to an API.

[code]

The base URL looks like this when no @Cacheable is used :

The HttpParams have a page and size parameters. The whole URL looks lik

[2019-05-12 20:08] angelnikolov commented on #38
This is due to the fact that I am doing a deep copy on the parameters you call the decorated method with because otherwise, if you pass an object to your method, someone could later mutate that object, which will automatically propagate to the cached object inside the decorator, because it will be the same reference. Let me think how to handle this and I will get back to you :)

[2019-05-13 18:47] angelnikolov commented on #38
So, the problematic line is [here](https://github.com/angelnikolov/ngx-cacheable/blob/master/cacheable.decorator.ts#L43).
The issue is that your `makeRequest` method uses angular's `HttpParams` construct.
Three ways we can solve this:
1. Remove the parameters copying, remove the tests about that and update the documentation stating that the passed parameters should be immutable.
2. You can fix you

[2019-05-15 11:51] exc414 commented on #38
Hello,

So I went the second route and did not depend on HttpParams. Works fine then. Thank you very much for your help.

[2019-05-15 11:51] #38 closed

[2019-05-16 14:23] syedabdrehman commented on #4
I'm using
 @CacheBuster({
    cacheBusterNotifier: cacheBuster$
  })
  updateData() {
    ///needs to return an Observable
  }
Example : Lets say I'm updating employee details,After Onclick update,
After all using the above example,its takes lot of time to load and display the data in UI

[2019-05-16 15:06] angelnikolov commented on #4
@syedabdrehman I don't understand the issue. Is there a question?

[2019-05-17 08:19] syedabdrehman commented on #4
For get call,I'm are using this example
@Cacheable({
   cacheBusterObserver: notifier.asObservable()
})
getMerchants(){...}

for updating and adding,Currently I'm using
@CacheBuster({
   cacheBusterNotifier: notifier
})
updateMerchants(){..}

On update of merchant details,the cache gets busted and time to load the data is taking some time,Any suggestions to improve the performance?

[2019-05-17 08:39] theCreativeGuy commented on #4
I'm reference this example
const cacheBuster$ = new Subject<void>();
export class Service {
@Cacheable({
    cacheBusterObserver: cacheBuster$
  })
  getMerchants() {...}

@CacheBuster({
    cacheBusterNotifier: cacheBuster$
  })
  addMerchants ( ) {....}

@CacheBuster({
    cacheBusterNotifier: cacheBuster$
  })
  saveMerchants ( ) {...}
}

On adding merchants and update of merchant details,the c

[2019-05-17 09:14] angelnikolov commented on #4
Well, that's the idea of it, if you bust the cache you will now fetch from the server. I would suggest to not use a @CacheBuster, but rather provide a custom subject to the `Cacheable` decorator, and just `next()` on it when you want to remove the cache. Then you can control when the cache is removed and you won't depend on the `saveMerchants` request completing..

[2019-05-17 09:16] theCreativeGuy commented on #4
Would you Please provide an example for merchants for the above answer ?

[2019-05-17 09:21] angelnikolov commented on #4
@theCreativeGuy It'd be best if you provide an example of what you want to accomplish and most importantly - when do you want to bust the cache. What is the use case and etc..

[2019-05-17 10:41] theCreativeGuy commented on #4
Hi,
Lets say there are 2 employees:A and B

A --I will fetch entire details of A and data gets cached through API
B -- When I go to B,I will  fetch entire details of B and data gets cached,after visiting B details,A cache data gets burst

How do I resolve the problem so that A's cache is not burst ?
May I know On what basis data is getting cached?

[2019-05-17 10:58] theCreativeGuy commented on #4
Let's say there are 2 merchants : A and B
A -- >  Fetching A details through API,data gets cached
B ---> Fetching B details through API,data gets cached and when I again fetch A details,A's cache data busts

How can this problem be resolved so that A's cache data is not busted ?

[2019-06-03 14:02] leocharrua opened #39 "Refresh cache"
Hello.

Thanks for his work.
How do you clear (refresh) the cache programmatic?

Thanks

[2019-06-03 14:10] angelnikolov commented on #39
Hello @leocharrua, you can use @CacheBuster as specified in the [docs](https://github.com/angelnikolov/ngx-cacheable#cache-busting).
Let me know if I can help further.

[2019-06-03 14:16] leocharrua commented on #39
Hi. Sorry, I don't understand how I must use that decorator. Can you give me a example code?
Thanks

[2019-06-04 12:49] leocharrua commented on #39
Sorry, can you help me? I put the @cachebuster in the function ... then? How I clear the cache (allow to call the http.post)?
Thanks again.

[2019-06-04 13:54] angelnikolov commented on #39
You can decorate your post method (the method which will save some data to the server and i.e - need to clear the cache).
You need to provide a subject to it which will be `next'ed` when your **save** request completes.
Then you also provide the very same subject to the `Cacheable` decorator on your data-fetching method, so it knows when to clear its cache.
In short, when you call `saveData` and i

[2019-06-04 20:47] leocharrua commented on #39
Thank you very much!!!

[2019-06-04 20:47] #39 closed

[2019-06-15 16:06] kthomas182 opened #41 "Odd cache/busting behavior in different AWS environments"
I have the same application code deployed in (2) different AWS s3 buckets.

In my DEV environment I have a cache busting method when AddEmployee() is invoked. Whenever I return to my employees page it always calls GetEmployees() method with a new API call since I busted the cache.

In my QA environment I have the same cache busting method when AddEmployee() is invoked. Whenever I return to my empl

[2019-06-15 16:56] angelnikolov commented on #41
Hmm, it could be. Can't you use one `cacheBuster`? What is the reasoning of having two cache busters on the same method?

[2019-06-15 18:34] kthomas182 commented on #41
When we add/update an employee our customer API returns a total count of employees, so we need to bust the cache or both employees and customers APIs so they don’t return stale data.

[2019-06-15 18:46] angelnikolov commented on #41
Hmm.. I guess you could invert the dependncy and provide the cache buster subject from this service and import in the others, rather than importing two different subjects from there?

[2019-06-16 12:50] kthomas182 commented on #41
@angelnikolov

I'm not sure what you mean by inverting the dependency.

I have it set up like this:

**employee.service.ts --> employee-cache.service.ts**
- add/update method needs to bust both GET employee & GET customer cache

**customer.service.ts --> customer-cache.service.ts**
- get customer

**customer-cache.service.ts - customerCacheBuster$**
import { Subject } from 'rxjs/internal/Subject';

[2019-06-16 13:13] angelnikolov commented on #41
So you can remove both `customerCacheBuster$` and `employeeCache$` and just export a new subject `employeCacheBuster$` **from * the service** where you want to bust the cache and then import them in both `customer-cache.service.ts` and `employee-cache.service.ts` rather than exporting separate subjects from there.

[2019-06-18 19:44] angelnikolov commented on #41
@kthomas182 Did it work for you?

[2019-06-18 22:41] kthomas182 commented on #41
Hi @angelnikolov

We haven’t had a chance to try it yet. I’ll close this for now and we can revisit it later. Thanks for your help!

[2019-06-18 22:41] #41 closed

[2019-06-21 12:26] muratcorlu opened #42 "Cache separate by different parameter values"
Is it possible to keep caches for old function parameters too?

[code]

I call this method several times with different `articleId`s in a view, then none of my requests are being cached actually. My expected behaviour was to cached every article request separately.

[2019-06-21 12:28] angelnikolov commented on #42
You can provide a `maxCacheCount` parameter to the `Cacheable` like:
[code]
This will make the decorator cache the last 100 calls.

[2019-06-21 12:47] muratcorlu commented on #42
OK, I think this'll fulfil my needs. Thanks.

[2019-06-21 12:47] #42 closed

[2019-07-05 15:13] manoj150283 opened #44 "CacheBuster not working"
Hi,

I tried to implement Cacheable and CacheBuster. Cacheable is working fine but somehow CacheBuster is not working. Below is the code:

`
import { Cacheable, CacheBuster } from 'ngx-cacheable';
const countryCacheBuster$ = new Subject<void>();

 @CacheBuster({
    cacheBusterNotifier: countryCacheBuster$
  })
  public createCountry(country: Country): Observable<any> {
    return this.http

[2019-07-05 15:25] angelnikolov commented on #44
Hmm, it should be working. How do you know that it isn't, what are you doing exactly?

[2019-07-05 19:01] manoj150283 commented on #44
It's not working because the results are not getting refreshed after creating records. It's picking the list from cache. In other words, I am calling getCountrys() after createCountry() to get the updated list but the api is not getting called. Instead it is returning the result from cache.

[2019-07-06 19:20] manoj150283 commented on #44
@angelnikolov it was my mistake. My API to create record was returning error and because of this Cachebuster was not working. Thank you for your help :)

[2019-07-06 19:20] #44 closed

[2019-07-24 14:49] muratcorlu opened #45 "Watching changes and busting cache for parameters"
I'll give an example code for telling what I need:

[code]

That `makara` is a socket service that I can bind for the events for data chances in server. I need to run this binding once someone called `getHeadlines` and then want to bust cache for given `slotId` when I got an update from makara service. But I couldn't find a way to intercept `cacheable` to trigger `checkForChanges` method in first

[2019-08-06 10:57] angelnikolov commented on #45
The only way to do that is to implement a custom `IStorageStrategy` and call that explicitly in this method.
In it, you can target the stored cache payload by `slotId` and remove it from your storage (in memory storage, local storage, redis or whatever) :)

[2019-08-07 13:19] marcio199226 opened #46 "[Question] Can I cache some api call with inner params ?"
Hi I will explain my question with simple example:

[code]

So my question is how can I cache some endpoints with inner params that are not provided by method call? I have tried to cache internal closure with all params but without success

[code]

Or I have to move all params to method definition in in my case:
[code]

Best regards and thanks for this awesome library !

P.S I think that decorator

[2019-08-12 07:07] angelnikolov commented on #46
Yes, either that, or provide a custom `ICacheRequestResolver` to the decorator which might have access to the extra parameter you need. But I still think that your idea in the end is better :)

[2019-08-12 09:59] marcio199226 commented on #46
Yeah I think too that that the last one is the best option.

I have another question can I use multiple @CacheBuster on the same method?Or i have to use one only i then bust some other caches in actions where that method was used ?

[2019-08-12 11:32] angelnikolov commented on #46
You can decorate the method with as many decorators as you want, but I would rather suggest that you combine two cache buster subjects into one stream and provide that to your @Cacheable-decorated methods.

[2019-08-12 12:10] marcio199226 commented on #46
Ok I should merge it by merge operator or concat ? The cache shoulds bust as soon as one of them emit new value

[2019-08-13 20:53] frankdavidcorona commented on #45
@angelnikolov, excellent work you save the day :-) only one simple request, could you provide some example to implement a custom IStorageStrategy, I want to use IndexDB.

[2019-08-14 13:23] marcio199226 commented on #46
Hi @angelnikolov can you show an example how to merge to subject for CacheBuster ?

[2019-08-16 11:00] angelnikolov commented on #45
Right now there isn't an async storage strategy for the `Cacheable` decorator. So in a sense you can only cache synchronously - which IndexDB does not allow anymore. For now, you can switch to promises and use `PCacheable` which supports `IAsyncStorageStrategy`. You just need to implement the interface and provide all required methods. Then provide it globally to you decorators by assigning your s

[2019-08-16 11:01] angelnikolov commented on #46
@marcio199226 `cacheBusterObserver: merge(cacheBusterSubject1, cacheBusterSubject2)`

[2019-08-16 11:05] marcio199226 commented on #46
Thx I will try it, vs code highlight it as error so i thought that merging is not enough

[2019-08-16 11:06] angelnikolov commented on #46
It must be `cacheBusterObserver: merge(cacheBusterSubject1.asObservable(), cacheBusterSubject2.asObservable())`, sorry :)

[2019-08-26 12:35] #46 closed

[2019-08-26 12:35] #45 closed

[2019-09-24 16:48] REHOUMI commented on #34
Hi dear friend, I need your help, can I notify two objects:

const notifier1 = new Subject();
const notifier2 = new Subject();

@CacheBuster({
   cacheBusterNotifier: notifier1, notifier2
})

I want to notify two services.

thank you!

[2019-09-24 17:03] REHOUMI commented on #34
I found a solution using this:

//agence.service.ts file
export const agenceCache = new Subject<void>();

//societe.service.ts file
import { agenceCache } from '../../service/agence/agence.service';
const societeCache = new Subject<void>();

@CacheBuster({
     cacheBusterNotifier: societeCache,
})
@CacheBuster({
     cacheBusterNotifier: agenceCache,
})
     public updateSociete(societeId: number

[2019-10-11 11:05] ToniSoriano opened #47 "common.js 404"
After upgrading from 1.0.9 to the following, the application gives an error message. I'm using systemjs.config.js in my project to configure reference.

common.js 404.

Please help me.

[2019-10-11 16:25] DrakeAnglin opened #48 "Doesn't Cancel Observable using async"
See example Below.

Expected results:
When using the Async pipe and navigating to a new route, any pending requests should be canceled.

Actual Results:
Pending requests stay open until completed. This causes issues in performance, since when you navigate to a new route the old request(s) is taking up request threads.

In the example below, you can see when you navigate from route1 to route2 the r

[2019-10-11 19:33] angelnikolov commented on #48
Thank you for reporting this issue! Even at a first glance this seems like a performance regression indeed. I am currently out on a holiday but once I get back I will take a look:)

[2019-10-11 19:36] angelnikolov commented on #47
Hm, can you provide an absolutely minimal reproduction of the issue? I a current out on a Holiday but will check it out when I come back :)

[2019-10-14 06:24] ToniSoriano commented on #47
Until version 1.0.9 (included) everything works correctly, it is the last version that works for me.

In the systemjs.config.js I have the following reference:
map: {
'ngx-cacheable': 'npm: ngx-cacheable/dist'
},
packages: {
'ngx-cacheable': {
                 main: 'index.js', defaultExtension: 'js'
             }
}

In version 1.0.9 the "dist" folder has only one level. As of version 1.1.0 it al

[2019-10-16 16:12] angelnikolov commented on #47
Right, before I was wrongly publishing out of the root folder which actually deployed the source files too. So now, the lib is published out of `dist/` itself.
Can you try changing the config in your system file to:
[code]

[2019-10-17 06:37] ToniSoriano commented on #47
I had already tried this, and with that configuration I still have the same error.
I have also tried to put the path in the tsconfig.js file. But, the result is the same.
"paths": {
      "jszip": [
        "node_modules/jszip/dist/jszip.min.js"
      ],
      "ngx-cacheable": [ "node_modules/ngx-cacheable/index.js" ]
    }

![Capture](https://user-images.githubusercontent.com/56437102/66983653-59

[2019-10-17 10:10] angelnikolov commented on #48
@DrakeAnglin Just to update you, I am working on some changes which will solve that issue for you. Except more next week :)

[2019-10-17 10:10] angelnikolov commented on #47
@ToniSoriano Thanks for the screenshot. Unfortunately I can't reproduce this right now so if you could please create a stackblitz with this being reproduced, it will help immensely.

[2019-10-20 08:40] angelnikolov commented on #48
@DrakeAnglin I might have something but now that I do I am starting to think if this is the correct behaviour. You can check the branch diff [here](https://github.com/angelnikolov/ngx-cacheable/compare/observable-unsubscription-test?expand=1).
However, think about the following case:
You have two identical components on the same page, both requesting data from the same endpoint, at the same time,

[2019-10-20 09:14] angelnikolov commented on #48
Okay the `shareReplay` is definitely an issue, since it will actually replay the previous request, even though you expect it to be stopped and let the new one take its place.

[2019-10-20 09:27] angelnikolov commented on #48
@DrakeAnglin, can you please update to 1.2.7 and verify if the issue has been fixed? Thanks!

[2019-10-20 22:09] DrakeAnglin commented on #48
Ok so I have tested and found some issues. Though the above issue is fixed, this has introduced a issue with the observable not being cached properly and a new call to the server being generated when multiple requests are made.

The "shareReplay" pipe hade changed in version 5.5 and now no longer unsubscribes automatically. The solution is to use the "publishReplay" and "refCount" pipes.

I was ab

[2019-10-20 22:56] robert-king commented on #48
I think i'm getting something similar. When my app loads, I get many services calling getUser() at the same time, which causes many duplicate HTTP calls at the same time.

[code]

my code before which worked, however i'd like to use the decorator instead:

[code]

The decorator does work well though if there's not a one-to-many fanout.

[2019-10-21 08:07] angelnikolov commented on #48
I can confirm that the issue exists. Let me dig deeper :) Thanks guys!

[2019-10-21 08:32] #48 closed

[2019-10-21 08:32] angelnikolov commented on #48
@DrakeAnglin @robert-king Published 1.2.8. Thank you for your reports and I hope this resolved your issues :)

[2019-10-21 16:40] JarekToro opened #51 "Feature: Return cache first. Then update cache via original method call."
Like the title says. The cache is used to pre populate the observable. Then it still runs the original method and caches that data along with emitting the new values. `Max Age` could be used to dictate if it needs to update in the background or not.

[2019-10-22 01:49] robert-king opened #52 "importing DomStorageStrategy"
I can't seem to import `DomStorageStrategy`, perhaps it's not exported?

[code]

I get an error:

[code]

[2019-10-22 07:12] angelnikolov commented on #52
@robert-king The import should be `import { DOMStorageStrategy } from 'ngx-cacheable/common/DOMStorageStrategy';`

[2019-10-22 08:26] angelnikolov commented on #52
README updated.

[2019-10-22 08:26] #52 closed

[2019-10-23 08:28] angelnikolov commented on #51
@JarekToro do you envision something like:
[code]
Also, what do you mean `update in the background or not`?

[2019-10-23 10:19] JarekToro commented on #51
No not exactly like that. Here is the use case. Let’s say you have a very slow api call. But it’s a call that you have to make at least once a users session. The data this api call returns doesn’t often change but it can.

So the first time you make the api call it gets the data and caches it. Now the next time maybe a few days later, the api is called again. First it returns the cached result. Bu

[2019-10-23 13:07] angelnikolov commented on #51
I am not sure how that would work without intervening the business logic of our users.
Normally, the observable will be completed immediately, after we have returned any data to the user, cached or not. For example, when we have no cache and the user calls `http.get()`, it returns an Observable which immediately gets completed, after it completes.
The user would call the method, we would call the

[2019-10-23 14:46] JarekToro commented on #51
I have a prototype working it, I will share at some point. -I am on my phone at the moment-. It involves creating a merge of a `of(cacheData)` and the original observable. That way a subject is not needed. I was also thinking that a `maxAge` could be used where if it’s within a certain time frame it won’t have to make the api call. And only if it’s pass a certain time will it also get the api resu

[2019-10-25 11:08] angelnikolov commented on #51
@JarekToro Looking forward for the prototype :)

[2019-10-25 11:42] JarekToro commented on #51
This is based around your lib but currently doesn't integrate with the other features you have implemented like cache buster etc..

Basically it combines an Observable created with the cache data. And merges that with the regular observable returned from the method. It adds a operator via `pipe(tap(x => //setCache))` to the end of the observable from original old method to update the cache

[code]

[2019-10-25 12:19] SansDK opened #53 "Ability to pass a custom JSON.stringify replacer"
Hi there,

I'm currently having an issue because of a circular structure in an object from another library (which should be cached).
This is easy to fix I could pass a stringify replacer, because I could then ignore the recursive property.

I couldn't find documentation on how to do this currently and I also didn't see an existing issue on this, so I made a new one.

Any help would be appreciated.

[2019-10-25 12:43] angelnikolov commented on #53
@SansDK I actually had a branch on this but got rid off it for some reason. Will take a look over the weekend, thanks :)

[2019-10-25 12:44] SansDK commented on #53
Great, thanks for the quick reply!

[2019-10-25 12:47] angelnikolov commented on #51
@JarekToro I am gonna need to experiment with this, because as I said - this could introduce issues  for existing users. Imagine that people have functionality which expects that calling a cached method will only produce one result (i.e - the callback passed to subscribe will be called only once).

[2019-10-25 12:57] JarekToro commented on #51
No problem. I agree with you on that. I was thinking an additional option to pass something like `startWithCache: boolean` so as to not interfere with existing implementation.

Thanks for looking into it. I appreciate this lib as it is already so thank you for that!

[2019-10-25 13:05] iherwig opened #54 "Serialized parameters are used to call the original method on cache miss"
Hi there,

first, thanks for this very useful library!

I noticed a problem with non-primitive parameters in methods annotaged with @Cacheable.

Cacheable uses serialized values instead of the original values when calling a method in case of a cache miss. This will cause problems, if the method needs to access methods or properties of the original parameter values.

The attached diff fixes the pro

[2019-10-25 14:51] angelnikolov commented on #54
@iherwig Thanks for reporting this. The serilization was implemented due to https://github.com/angelnikolov/ngx-cacheable/issues/7. Let me think about that for a while, this might require the same solution as for #53.

[2019-10-28 08:59] SansDK commented on #53
Solved by #55 🎉

[2019-10-28 08:59] #53 closed

[2019-10-28 11:52] iherwig commented on #54
Thanks for the quick reply and fix (#55)!

[2019-10-28 11:53] #54 closed

[2019-11-04 02:57] robert-king opened #56 "cacheBusterObserver with maxCacheCount"
when you bust the cache, you bust it for all.

[code]

for maxCacheCount you remove one:

[code]

Would be nice if cacheBuster had an option to provide the parameters - that way you could remove only some values :)

[2019-11-04 11:32] angelnikolov commented on #56
Hm, that's a nice idea, let me think about that :)

[2019-11-04 15:57] ToniSoriano commented on #47
Hi. I have found an alternative way to solve the problem.

It is about creating a common.js file in the root folder with the same code of the /common/index.js folder.

But it is not a good solution.

I write this in case it helps you to find the problem

Thanks.

[2019-11-28 10:03] stnor opened #57 "Change maxCacheCount default?"
Hi,
Thanks for making the effort to provide a caching library. It looks very promising!

<details>
  <summary>Some feedback</summary>

I especially like the ability to evict the cache, but as #56 points out its not currently very useful for maxCacheCount. Also, "cacheBusting" is known as cacheEviction, and is a well-known term. Along the same lines, I don't think it makes sense to limit cache size

[2019-11-28 15:05] angelnikolov commented on #57
@stnor Thanks for the feedback!
So what you are suggesting is basically, keeping the cache for a parameter forever?
Then, the only way to evict the cache would be the user to use a `cacheBuster` and evict it manually, which makes the cache layer a bit more imperative.
Can you provide me with an example use case where you would need a global `maxCacheCount`? We can add that easily, in fact I though

[2019-11-28 21:36] stnor commented on #57
I was thinking that as a user I would like to register defaults with a static method, so that if I want a certain TTL or maxCacheCount I could decide so for myself, keeping things DRY.

[2019-11-29 13:50] williamxsp opened #58 "reload data when cacheBusterNotifier is called"
When I save some data Id like that my informations get updated automatically.
Im doing the following:

[code]

But im not sure if this is the best way to accomplish this.
Do you have any idea?

[2019-11-30 20:41] angelnikolov commented on #57
@stnor Yes, this is what I meant by the global config.
It will be something like what we have now for global storage strategy, or:
[code]
To evolve that I am thinking of introducing all options of the cache config globally, like `maxCacheCount`, `maxAge` and `slidingExpiration`. Is that something that would help you?
 Also, we can introduce a global and local cache config option of `keepAlive` whi

[2019-11-30 20:44] angelnikolov commented on #58
Hey @williamxsp. Thanks for the question. You are on the right path, with the cache buster.
What you need to do so the cache is evicted successfully, is to just decorate your `get` method like:
[code]
Also, is there a reason that you need this `of([])` and a `switchMap`?

[2019-11-30 21:24] stnor commented on #57
Yes, sounds great!

[2019-12-05 20:31] randallmeeker opened #60 "turn off globally"
I'm doing server rendering and I'm trying to figure out the best way to turn this off when its run on the server.

Or basically turn it on / off based on some global setting.

[2019-12-05 20:46] angelnikolov commented on #60
Hmm, there a couple of options to do this I guess.
1. Do what Angular does and strip all decorators during compile time.
2. Create a custom Storage strategy which wraps around the InMemoryStorageStrategy (if you use that on the client of course) but also has a flag based on which uses the caching strategy or not.
3. Use some build plugin which re-routes all Cacheable imports to a dummy nooo functi

[2019-12-05 21:52] randallmeeker commented on #60
thanks will have a look. while I'm asking is there a simple way to by pass the cache with an argument. I'm checking out items in the `ICacheConfig` but nothing appears to work. `shouldCacheDecider` appears to be after the fact that not before.

will close this as answered though.

[2019-12-05 21:52] #60 closed

[2019-12-05 23:03] angelnikolov commented on #60
This is something we discussed before, but for now you can do it by using a helper method.
Say you want to have `getUsers` cached, you can create a `getUsersCached` method which is decorated, and will always return the cached values.
If you want to bypass cache, you call `getUsers` instead.
Does that answer your question?

[2019-12-05 23:05] randallmeeker commented on #60
yes, it is what I ended up doing for now. thanks

[2019-12-07 12:07] #57 closed

[2019-12-16 11:08] Patricksirich opened #61 "Don't cache if response is empty"
Hi!
First of: I freaking love this package, thank you for sharing it!!!

And now to the issue:
I currently have an issue where if the response is empty (no errors, just an empty response), the data is still cached.

It is highly unlikely that the API is returning an empty response, but it can happen.

I am already doing checks on empty data, wrong data, etc.

I would like to avoid busting the cach

[2019-12-16 11:28] angelnikolov commented on #61
Hey @Patricksirich, thanks for your kind words!
You can do this right now by passing a `shouldCacheDecider` to the decorator :)

[2019-12-16 11:40] Patricksirich commented on #61
Thanks for the quick reply!
What value should I give the shouldCacheDecider? Can't really seem to figure it out 😄

[2019-12-16 11:45] angelnikolov commented on #61
It's a callback which takes the response and based on it will decide to cache it or not.
For example, you could pass it as :
`shouldCacheDecider: response => response.length`
which would tell it to only cache the response if it is a non-empty array.

[2019-12-16 11:46] Patricksirich commented on #61
That makes perfect sense, works like a charm, thanks!

[2019-12-16 11:53] Patricksirich commented on #61
It doesn't seem to be working when maxCacheCount has been set.
Currently my decorator looks like:

[code]

but it does work on:

[code]

[2019-12-16 12:51] #61 closed

[2019-12-20 08:17] ravi8194 opened #62 "How to use ngx-cacheable in server side pagination"
I am building a app in which i am doing server side pagination by calling a same REST API with different query string on page change event. can i use this library to cache the response of previous pages so that if i go back to previous page , no API call made.

[2019-12-20 12:30] angelnikolov commented on #62
@ravi8194 You can use the `maxCacheCount` parameter to support multiple caches per decorated method.
Check the [documentation](https://github.com/angelnikolov/ngx-cacheable#configuration).

[2019-12-20 12:30] angelnikolov commented on #58
@williamxsp 🏓

[2019-12-20 12:31] angelnikolov commented on #47
@ToniSoriano Can you test your issue with 1.4.0-beta.11. It is a version of `ngx-cacheable` which changes the module structure output to esm, cjs and es2015 modules.

[2020-01-02 08:17] ToniSoriano commented on #47
Thanks @angelnikolov.
I try with 1.4.0-beta.12 but in cjs have same problem, and the others protocols have a error TS¿?.
I will keep trying.

[2020-01-07 02:41] jonstorer opened #63 "Services inheriting from common base need different caches."
I really like Cacheable. And I really want it to work for my needs! However, it's currently not working. Here's my scenario:

I have a base service called `Repository`. All services inherit from it. When I fetch data from each child service, they share the same cache & the service that calls 2nd, gets the first service's data.

The calls in the follow code block are nested for force an order for t

[2020-01-07 03:30] jonstorer commented on #63
is there a way to make `const cacheBuster$ = new Subject<void>();` specific to each instance of each child service?

[2020-01-07 05:20] RobARichardson commented on #63
I ran into this exact same situation about a week ago. A solution to this would make this library even more amazing.

[2020-01-07 10:36] angelnikolov commented on #63
Hey, thanks for your question. Will take a look after work :)

[2020-01-09 21:36] #62 closed

[2020-01-09 21:36] #58 closed

[2020-01-09 21:49] angelnikolov commented on #63
@jonstorer the issue you are experiencing is due to the fact that the decorators are executed immediately, once your class is parsed. Therefore, you will really have only one cache storage, which will be for your Repository class.
In short, each method is cached by combining the class constructor name + the property key (method name), unless you pass `cacheKey` as a custom config.
Obviously none o

[2020-01-09 22:21] angelnikolov commented on #63
Scratch that, option 2 is not really an option since there will be no way to subscribe to cache busters.

[2020-01-14 21:26] jonstorer commented on #63
@angelnikolov is there anyway to reach into the method and pay attention to the route being called? that could be used as the cache key.

[2020-01-15 12:46] angelnikolov commented on #63
Well, it actually is looking into the route being called.
Let's say you have this Repository service method:
[code]
Then you call it through the `WidgetService` child by `this.widgetService.findById('1')`.
This will essentially always go through the same `Repository` service method through the prototype chain. Therefore, there will only be **1** cache storage. For every different service call, it

[2020-01-15 16:36] jonstorer commented on #63
in that example, the paths resolve to `/widgets/1` and `/parts/1`. Does that make a difference? Based on what you're saying, the cache keys would be different.

[2020-01-15 16:38] angelnikolov commented on #63
@jonstorer Yes, it would be different, but since you are using a single service (Base repository service) and a single method (findById), all your calls will go to the same cache storage and the second call's cache will override the first one's.
If you add `maxCacheCount: 100` you will store a hundred of responses in the cache of `RepositoryService#findById`. The other option is to use a mixin as

[2020-01-22 17:54] jaydiablo opened #65 "Possible to cache multiple invocations of a method, varied by method's arguments?"
I've been testing this decorator in an application and was curious if what I'm seeing is the intended behavior or if it's something about my environment.

I've added the `@PCacheable()` decorator to some API methods that return a Promise.

These methods typically have some parameters to control which object(s) to retrieve from the API (like an object's id, or some filters for a list of objects). A

[2020-01-22 19:04] angelnikolov commented on #65
First of all - thanks for the well described question and the stackblitz you've put together.
It sounds like what you are looking for is `maxCacheCount` which will allow you to specify how many invocations should be cached per method. That means that calling your method with `1` and `2` will both be cached if you specify a `maxCacheCount` of 2 or more.
Also, from a couple of weeks ago, you can als

[2020-01-22 19:13] jaydiablo commented on #65
I see, does `maxCacheCount` default to `1` then?

I updated my stackblitz to bump that to `3` and it does seem like it does what I want now. Thanks!

Maybe something that could be added to the readme (the default of `maxCacheCount`).

[2020-01-22 19:40] angelnikolov commented on #65
Yes, it actually doesn't have a default, but if it's not set it will indeed act as `1`, so I will update the Readme :) Thanks!

[2020-01-22 19:51] jaydiablo commented on #65
Thanks!

[2020-01-22 19:51] #65 closed

[2020-01-27 12:10] michaelz opened #66 "Cache returns empty response unless configured with async"
Hi !

I'm having some trouble understanding something.

I added the `@cacheable` decorator on a API call with the following parameters:
[code]
It works fine.

Now I don't get why I need the `async` option. If I remove it, my method doesn't finish and the components think the service is loading data indefinitely.

Is this related to the [change implemented in October](https://github.com/angelnikolo

[2020-01-28 21:50] angelnikolov commented on #66
@michaelz Can you tell me a little more about your set-up? Is this an Angular app?
What `async` does is to add an artificial `delay(0)` operator to the stream, so it resolves in the next tick. There are frameworks which hook into those types of tasks and detect changes (update).

[2020-01-31 07:38] michaelz commented on #66
Thank you for you reply,

Yes it is an Angular app, and the observables I'm working with are quite complex. In some cases we had to use delay(0) as well, but it has some unwanted side-effects sometimes.  We try to avoid them if the problem can be resolved in an other way.

[2020-01-31 10:16] ToniSoriano commented on #47
Hi again.

I'm solve this issue. The problem was in the definition of the systemjs.config.

Need define new entry in package for define path to common.js. I'm try this in version 1.4 and work fine.

Same this (in bold):

        map: {
            // our app is within the app folder
            app: 'app',

            'ngx-cacheable': 'npm:ngx-cacheable/cjs',
        },
        // packages tells

[2020-01-31 11:14] angelnikolov commented on #47
@ToniSoriano Glad you solved it :))

[2020-01-31 11:14] #47 closed

[2020-01-31 11:19] angelnikolov commented on #66
The cached methds return synchronously when there is cache, which doesn't activate Angular's change detection.
Can you show me an example call to a cached method?

[2020-02-07 13:22] djhouseknecht commented on #4
@theCreativeGuy I know this is an old post, but the way to accomplish your desired results is to use the [configuration](https://github.com/angelnikolov/ngx-cacheable#configuration) option `maxCacheCount`. It will cache calls based on what parameters are passed in. For your case, you would use it like this:

[code]

`maxCacheCount` will cache all requests based on their parameters.

[2020-02-11 12:41] angelnikolov commented on #66
@michaelz Ping.

[2020-02-14 16:43] michaelz commented on #66
Sorry for the late reply @angelnikolov

I make a simple http call :
[code]

[2020-02-14 18:49] khalilchoudhry opened #67 "import globalCacheBusterNotifier"
Hi,

So it's written on Readme.md that to import globalCacheBusterNotifier do:

import { globalCacheBusterNotifier } from './cacheable.decorator';

but this does not correctly import it. This does:

import { globalCacheBusterNotifier } from 'ngx-cacheable';

Great Library!

[2020-02-18 21:57] angelnikolov commented on #67
@khalilchoudhry Thanks for reporting. Will update the readme :)

[2020-02-18 21:57] angelnikolov commented on #63
@jonstorer Anything to add here?

[2020-02-18 21:59] angelnikolov commented on #66
I am not sure what is the issue there, are you using Angular + ChangeDetectionStrategy.OnPush?

[2020-02-19 04:05] jonstorer commented on #63
@angelnikolov I think there's an opportunity to identify your cache key further down in execution. I've not spent the proper time to research this, however, you have access to `oldMethod` which should be the specific method on the specific subclass. Again, I've not done my research, but won't that evaluate to the correct class name and method name?
[code]
I will investigate this more. However, it

[2020-02-19 14:02] krogh opened #68 "shouldCacheDecider in GlobalConfig"
First of all, thank you for this very nice library!
I would like to apply a global shouldCacheDecider policy.
 shouldCacheDecider exists in the interface ICacheConfig but not in the GlobalCacheConfig.
Is this deliberate or a missing setting?  The Readme indicates it should be in the GlobalCacheConfig as well.
I can see there has been a discussion of global versus local config
https://github.com/an

[2020-02-21 16:08] angelnikolov commented on #68
@krogh Yeah, I must have forgotten adding that option to the global config. If you wish, you can make a PR and I will publish :)
Otherwise, I can do it in the next couple of days.
Thanks!

[2020-02-23 13:32] krogh commented on #68
I will leave you to it then :-)
Thank you!

[2020-02-24 12:11] krogh commented on #68
I actually had some time to tried it out  See the pull request

[2020-02-26 07:28] michaelz commented on #66
Yes we are using this in the code. So that's maybe why there is an issue...

[2020-03-03 13:20] williamxsp commented on #58
Thanks @angelnikolov .
Sorry for the late reply :)

[2020-03-24 19:09] fabioseno opened #76 "Caching distinct function results"
Hi, I have two methods under the same service as below:

[code]

The cache is only working if I hit subsequent calls to the same function. By having different functions, wasn't it supposed to have both results cached?

Apparently it works if I set the maxCacheCount to more than 1, but I understand that it should affect only combinations of cache under the same function. Am I right?

[code]

Thanks

[2020-03-24 20:32] angelnikolov commented on #76
Not sure I understand. Both methods are independent in terms of caching.
If you call once listAll, you obviously wont' have cached results. Every other call of the same parameters will be. Same for `list`

[2020-03-25 18:34] fabioseno commented on #76
They are independent functions, but they are not behaving as expected.

The behaviour:
1) Call **listAll** function -> executes HTTP request
2) Call **listAll** function again -> Data from cache (OK)
3) Call **list** function with some param -> executes HTTP request
4) Call **listAll** function -> executes HTTP request (ERROR).

[2020-03-29 00:27] deyanpeychev00 commented on #76
@fabioseno just curious, how do you check whether data is returned from cache or not?

[2020-03-29 11:22] angelnikolov commented on #76
@fabioseno Can you provide an example in stackblitz?
Also, why do you need the `cacheBusterObservers`?

[2020-03-30 18:54] wilson353 opened #77 "Source maps are broken"
Source maps reference files that are not present. This leads to warnings during a production build with vendor sourceMaps enabled.

[code]

[code]

[code]

Thoughts on disabling sourceMaps for dist?

[2020-03-31 10:38] deyanpeychev00 opened #78 "Bust cache from a specific function only"
Really like your project and the fact that it's a Bulgarian one!

Just a question: Having read the documentation and found that the cache can be busted using:

[code]

Is there a way that I can bust the cache only for a specific http request?

[2020-03-31 10:40] angelnikolov commented on #78
Yes, you can provide a `cacheBusterNotifier: subject` in the `@Cacheable` config and next on it when you want a method's cache to be evicted.
https://github.com/angelnikolov/ngx-cacheable#cache-busting

[2020-03-31 10:55] deyanpeychev00 commented on #78
Just checked that, but I seem to get an error:

Argument of type '{ cacheBusterNotifier: Subject<void>; }' is not assignable to parameter of type 'IObservableCacheConfig'.
      Object literal may only specify known properties, and 'cacheBusterNotifier' does not exist in type 'IObservableCacheConfig'.

Here is how I have implemented it:

[code]
[code]
[code]

[2020-03-31 11:45] deyanpeychev00 commented on #78
Also another question:

Is there a way to remove cache for a specific http request using the `globalCacheBusterNotifier`? In my case, I want to remove the cache related to the request that fetches the user's personal information once the user logs out.

[2020-03-31 11:54] deyanpeychev00 commented on #78
**Update:**

Ignore my comment with the error message, just made it work with removing the `cacheBusterNotifier` property from the `@Cacheable()` decorator and invoking `allUsersCacheBuster$.next()` in the methods that I want to clear the specific cache.

The issue can now be marked as closed or remain here if considered as helpful to someone. :)

[2020-03-31 12:08] #78 closed

[2020-04-05 17:10] angelnikolov commented on #67
Fixed by https://github.com/angelnikolov/ngx-cacheable/commit/3ab712dd675bbf1c67d6fd53237839cc5197237d

[2020-04-05 17:10] #67 closed

[2020-04-07 10:03] djhouseknecht commented on #4
@NemeanLionBot, I made a [stackblitz](https://angular-epxewf.stackblitz.io) example where you can see the cache buster in action. Feel free to play around with with some of the other cool options **ngx-cacheable** has to offer.

For quick reference, here is the code in a service:

[code]

[2020-04-15 02:26] kirstenfrager opened #79 "CacheBuster only working after 2nd call"
I have implemented a PCacheBuster which is only busting the cache the second time I trigger my function.

**service.ts**

[code]

**base.ts**

[code]

The radiusChangeData() function gets triggered when the user changes their location radius (which in turn I want to bust the cache so that new data can be returned within the newly selected radius). The first time the user changes the radius the fun

[2020-05-06 20:20] angelnikolov commented on #79
@kirstenfrager Sorry for the late answer.
I noticed this method `getAndSetData`. Does it by any chance first get the data and then set it (calling the POST endpoint)? If so, that might be the issue. The cache will be busted by the `getNearbyAdvertsCacheBuster$` subject only when `radiusChangeData()` completes (i.e its promise has resolved). Maybe you get the data before that?

[2020-05-06 20:23] angelnikolov commented on #76
@fabioseno Can you provide more information?

[2020-05-06 20:24] angelnikolov commented on #66
@michaelz In that case you might need to add `markForCheck` or `detectChanges` (in case of Ivy) when data is resolved.

[2020-05-09 23:04] deyanpeychev00 commented on #79
@kirstenfrager how you've implemented the cache duration enumeration object `CachingMinuteEnum.TWO_MIN` ?

[2020-05-17 10:20] btxtiger opened #80 "Can not get it working"
I have tried several combinations and configs, but it still does not work for me.
This is my wrapper function for all HTTP requests in my application, anything I'm doing wrong?
The Requests should not be shown or executed despite the caching right?

[code]

[2020-05-18 10:15] angelnikolov commented on #80
@btxtiger, if you use a single class for all your method calls, then you will only have one cache for each and every call.
How are you using this service? Are you extending it or instantiating it in every caller?
If you are extending it, you will essentially only have one cached method for all your app and that might be the reason for your issues.
If that's your case, I suggest you taking the appr

[2020-05-18 11:50] btxtiger commented on #80
@angelnikolov  I see. It is a single Angular Injectable "backend.service.ts". I'm using it with Observable.pipe in sub services, so in I guess in worst case it should work by placing the decorator all over there?

I don't know exactly how the ts decorators work, wouldn't it be possible to use the route parameter as cache key and apply it before `http.get(...`?

[2020-05-20 20:33] angelnikolov commented on #80
Yes, that would be possible, but then you'd need to provide a rather large `maxCacheCount` to the decorator like:
[code]
Then you can have all of your services cache data to that method, just the way as you suggested - by providing a unique parameter as a cache key. Let's say you are on page `/profile` - you provide that parameter to each call.
The other option is to cache separetely in each sub s

[2020-06-02 11:30] katyapavlenko commented on #1
Hi, @angelnikolov

experiencing same problem now
` "rxjs": "6.5.4"`
` "ngx-cacheable": "1.4.1"`

[code]

[code]

[2020-06-02 11:39] angelnikolov commented on #1
The method needs to return an Observable. :)

[2020-06-02 11:42] katyapavlenko commented on #1
Oh no! :)
Maybe its better to add return type to methods in documentation to prevent further mistakes like mine?

Also is it going to be implemented for scalar values in the future?

P.S. thank you for the fas answer!

[2020-06-02 11:43] angelnikolov commented on #1
Yes, adding return types makes sense. Will add to my list. :)

[2020-06-03 15:43] #56 closed

[2020-06-03 15:43] #51 closed

[2020-06-03 15:43] #63 closed

[2020-06-03 15:43] #68 closed

[2020-06-03 21:16] fabioseno commented on #76
@deyanpeychev00 I just got some time to get back to this issue and realized it's working as expected now! I created a stackblitz (https://stackblitz.com/edit/angular-vzxqvv) and everything is alright.

Thank you all!

[2020-06-09 11:45] TacticalVilius commented on #77
Same problem here, using version 1.4.1. Get the warnings during build and during 'ng serve'. Output from serve:

[code]

To me it seems like the path it searches for the files is wrong. The "../../../" takes it back to the node_modules folder, where there is no 'common' folder. Inside node_modules/ngx-cacheable/esm2015/common folder the files exist, but with "d.ts" extension, instead of ".ts".

[2020-06-09 22:02] angelnikolov commented on #77
Hm, can you show me your angular.json config for serve? I can't reproduce that during serve.
Also I assume you are using `DomStorageStrategy` right?

[2020-06-09 22:23] angelnikolov commented on #77
@TacticalVilius  Okay, I think I managed to find the issue. I was not publishing the source code, which in case of vendor source map building is required.
Can you please try it out with the version below and let me know if it works. Then I will release it @ latest.
cc @wilson353
http://npmjs.com/package/ngx-cacheable/v/1.4.2-beta.1

[2020-06-09 22:24] angelnikolov commented on #76
Closing as resolved.

[2020-06-09 22:24] #76 closed

[2020-06-10 06:18] TacticalVilius commented on #77
@angelnikolov , it works, the warnings are gone. Thanks for the quick fix!

[2020-06-10 08:28] angelnikolov commented on #77
Right, will publish version in `latest` later. Thanks!

[2020-06-15 18:06] saurabh47 opened #81 "Burst Multiple cache using cacheBusterNotifier"
Hello Devs,
### Is it possible to burst multiple cache using cacheBusterNotifier.
I'm using this to burst single cache
[code]
I know there is one another way to burst multiple cache by calling method.
[code]

It will be helpful . if we can pass the array of subject to cacheBusterNotifier.
something like this
[code]
I'm not sure its possible with the decorators.

if I missed something. please sugge

[2020-06-16 12:48] angelnikolov commented on #81
@saurabh47 This has been asked before and right now there isn't a way. You can of course create a common Subject and subscribe other subjects to it. Similar to your `burstCache()` method.
Something like:
[code]
And then have other `cacheBusterObservers` subscribe to it like `commonCacheBuster$.subscribe(event=>specificCacheBuster.next())`,`commonCacheBuster$.subscribe(event=>specificCacheBuster2.n

[2020-06-16 13:24] saurabh47 commented on #81
Thanks @angelnikolov

[2020-06-16 13:24] #81 closed

[2020-06-17 09:26] gdgagan696 opened #82 "Where does this cache stores data?Is there any way to persist data even after refresh?"
Hi,

- Is there anyway to persist data even after page refresh?

- Where does this cache stores data as I couldn't find it in browser cache?

I have worked this way but its not working.

- Can you tell me whats the issue in this as it shows cacheBuster$ undefined when getUser() is called.

export class UserService {

  cacheBuster$ = new Subject<any>();
  URL="http://localhost:8030/users/";

  con

[2020-06-17 18:49] angelnikolov commented on #82
* Is there anyway to persist data even after page refresh?
- Yes, use DOMStorageStrategy. Find more about it in the readme.
* Where does this cache stores data as I couldn't find it in browser cache?
- The default storage strategy is `InMemoryStorageStrategy` which stores everything in-memory through a closure.
* Can you tell me whats the issue in this as it shows cacheBuster$ undefined when getUs

[2020-06-18 06:45] atmdev opened #83 "how to cache modified object returned by PUT"
Hello,
I have 2 methods:
- getObject: this does a GET request. The result is cached with the Cacheable directive.
- modifyObject: this does a PUT request and invalidates the cache with the cacheBuster

It works really well. Now, if we modify our PUT request in the backend so as it returns the new modified object in the response, can we exploit it to refresh the cached value of getObject?

Thanks.

[2020-06-18 06:58] gdgagan696 commented on #82
Hy Thanks. It worked.
I got some more issues.
I agree with this.The default storage strategy is InMemoryStorageStrategy which stores everything in-memory through a closure.

- But where I can find the data? In disk or at any other place?can you specify path where I can find data?

Also, DOMStorageStrategy worked for me.Thanks for that.

- Can I update cache data if it get changed ? Like in case of

[2020-06-23 22:16] angelnikolov commented on #83
Right now, there isn't a way to manually do that. The only way is to implement your own `IStorageStrategy` and create a mechanism in it to touch the cache and update it from outside. Apart from that, I can't think of any other way.
https://github.com/angelnikolov/ngx-cacheable#creating-your-own-strategy

[2020-06-23 22:17] angelnikolov commented on #82
* But where I can find the data? In disk or at any other place?can you specify path where I can find data?
There isn't a way to find the data for the `InMemoryStorageStrategy`.
For the `DOMStorageStrategy`, you will normally find it under the `CACHE_STORAGE` localStorage key.

[2020-06-23 22:18] #79 closed

[2020-06-23 22:18] #66 closed

[2020-07-10 06:48] jigfox opened #85 "Problems with Cachable in Angular Universal Server Side Rendering"
when `ngx-cachable` is used in angular universal the cache is shared for multiple requests, because only one Cache Instance is created in the `@Cacheble()` decorator on server startup and this is then shared across all requests. In our case we have an interceptor which sets an authentication header, which could be used for the CacheKey, but since it isn't a param of the service methods itself, it

[2020-07-16 13:12] angelnikolov commented on #85
@jigfox, sorry for answering so late.
I can see the issue here, but I am afraid that you have also provided the solution :(
The decorator does not care about the internals of what's being called in the method it is applied on.

The only idea I can think of is to maybe provide more context (maybe class instance) to `cacheResolver`. Then you could do something like this:
`GlobalCacheConfig.cacheReso

[2020-07-21 06:44] gdgagan696 commented on #82
Thanks @angelnikolov .

[2020-07-21 06:44] #82 closed

[2020-07-26 21:14] #80 closed

[2020-07-28 08:02] cyberbobjr commented on #13
Hi,
Sorry for the necropost, but does this trick was implemented in the current version of Ngx-cacheable, because it might be usefull for my project :)

[2020-07-28 08:07] angelnikolov commented on #13
Yes, it is.
https://github.com/angelnikolov/ngx-cacheable/blob/dc1c2cc90cbd09f9209a82632a161ce49fa12466/common/index.ts#L8

[2020-07-28 08:24] cyberbobjr commented on #13
you're great ! many thanks for your job 😄

[2020-08-17 08:52] angelnikolov commented on #85
@jigfox Did u have the chance to take a look at my last comment? Thanks!@

[2020-08-19 08:53] jigfox commented on #85
@angelnikolov sorry somehow I missed your response. But after Reading it, it gave me some some Idea: https://github.com/angelnikolov/ngx-cacheable/pull/89
What do you think about this? If you think this is a good Idea, I could work further on this and add some tests

[2020-08-23 06:45] iconixws opened #90 "When browser close, it will reset the cache."
We have implemented ngx-cacheable for our website [https://www.matrimonyone.com](https://www.matrimonyone.com/). Its works perfectly fine until we close browser tab or browser.
When we open website again, it will reset the cache.
To reproduce this issue please follow below steps.
1. Open  [https://www.matrimonyone.com](https://www.matrimonyone.com/), in footer, click on contact us then feedback.
2

[2020-08-24 05:44] iconixws commented on #90
We find out the solutions and closing this issue. Below is the solutions in app.component.ts

import { GlobalCacheConfig, DOMStorageStrategy } from 'ngx-cacheable';

constructor() {
    GlobalCacheConfig.storageStrategy = DOMStorageStrategy;
  }

[2020-08-24 05:45] #90 closed

[2020-08-25 05:31] Ayushidawada commented on #14
@angelnikolov Can you please give me an example of using cacheResolver and cacheHasher and its difference,As i am using your package for my project,as of now not facing any issue while using other configurations except this two.

[2020-08-29 23:19] #83 closed

[2020-10-25 09:42] #85 closed

[2020-10-28 01:49] dmbaker90 commented on #78
Maybe this should be documented.  I tried cacheBusterNotifier as well like the documentation and it didn't work.

Does not work:
[code]

Works:
[code]

[2020-11-10 13:27] aycauzel opened #93 "Release number"
Hello,

According to npm page https://www.npmjs.com/package/ngx-cacheable, this code's latest release 1.4.3.
Could you create 1.4.3 tag/release  also in here? We used these specific release for software clearance.

Thanks.

[2020-11-10 13:30] angelnikolov commented on #93
@aycauzel The library's name has been updated to `ts-cacheable` and it can be found [here](https://www.npmjs.com/package/ts-cacheable).
Added a new release to reflect that change.

[2020-11-23 11:21] Stefan-Kosker opened #94 "Bust only one Cache in maxCacheCount"
Hey! Great Plug-in. I love it.

I have a question about busting a cache when I have maxCacheCount.

I have a function which I cache with maxCacheCount 20, since I have around these numbers different params, which repeats themselves.
[code]

Now, I can make changes to only one of these values and this value must be requested again from Backend, without touching the other 19 caches, if possible. Cac

[2020-11-23 12:44] angelnikolov commented on #94
@Stefan-Kosker
Good question. Right now there isn't a way to selectively remove a specific cache member from the Storage. To do that, I suggest you create a new `StorageStrategy` by implementing the `IStorageStrategy` interface. You can see our fairly simple memory storage implementation [here](https://github.com/angelnikolov/ts-cacheable/blob/master/common/InMemoryStorageStrategy.ts).
Then, in th

[2020-11-23 12:58] Stefan-Kosker commented on #94
Hello @angelnikolov thank you for your quick response!

Due to strict deadlines, we decided to implement the easy solution: Bust all caches. Requesting other 19 will probably cause a bit higher traffic. After busting all the cache, the probability of new requests are low enough according to our requirements engineering team though.

Thank you for your support and huge appreciation for awesome plug

[2020-11-23 12:58] #94 closed

[2020-12-01 13:07] matthew2564 opened #95 "Access cached date"
Hi there,

I'm wondering if it is possible to access the time the cache was created? Ideally I need to compare the cached date to another date i have in order to work out whether or not to bust the cache.

Any help/advice would be great.

Thanks!

[2020-12-01 16:05] #93 closed

[2020-12-01 16:09] angelnikolov commented on #95
@matthew2564 Good question. To do that, I suggest you create a new `StorageStrategy` by implementing the `IStorageStrategy` interface. You can see our fairly simple memory storage implementation [here](https://github.com/angelnikolov/ts-cacheable/blob/master/common/InMemoryStorageStrategy.ts).
If you check this out https://github.com/angelnikolov/ts-cacheable/blob/master/cacheable.decorator.ts#L11

[2020-12-01 17:50] matthew2564 commented on #95
Thanks for the prompt reply @angelnikolov. So do you mean something like this?

`  @Cacheable({
    maxAge: (60 * minute),
    maxCacheCount: 80,
    storageStrategy: InMemoryStorageStrategy
  })
  read(id: string | number): Observable<T> {
    // this is value i need to compare against cached date, not sure how i get this value into the storage strategy though?
   console.log(this.timeAsLong);`

[2020-12-07 20:25] jeffrey-hines opened #96 "Does Ts-Cachable support typed observables?"
With the following code

    @Cacheable()
    getCurrentDate(asyncLoading?: boolean): Observable<Date> {
      const headers = asyncLoading ? new HttpHeaders().set('noLoader', 'noLoader') : undefined;
      return this.http.get<string>(`${this.BASE_URL}/CurrentDate`, { headers })
        .pipe(map(response => new Date(response)));
    }

I get the following error...

 ERROR in src/app/shared/servi

[2020-12-07 21:34] angelnikolov commented on #96
@jeffrey-hines There was an erroneous rxjs dependency in the project, can you try with `Version
1.0.2` which I just published?

[2020-12-07 21:39] angelnikolov commented on #95
@matthew2564 I was thinking about something in the lines of what you already have but add that to a custom `CustomStorageStrategy`. There you can expose a static property where you can store all of you cached data (for all decorators which use this strategy.
[code]
Then in your callsite -
[code]

[2020-12-08 15:39] jeffrey-hines commented on #96
That worked. Thx.

Where is the best place to setup the global settings?

I can get the caching to work in I define the settings locally, but caching doesn't work if I define globally.

[2020-12-08 16:05] angelnikolov commented on #96
I'd add it at a place as early as possible in your application lifecycle. Doesnt matter where exactly, just before any logic which requires it .

[2020-12-08 16:18] jeffrey-hines commented on #96
Thanks

[2020-12-08 16:18] #96 closed

[2020-12-10 13:59] #95 closed

[2020-12-23 19:21] dmbaker90 commented on #94
I made this montrosity to solve this problem, in case it helps others.

    @Cacheable({
        cacheBusterObserver: worklistRemainingNotifier$,
        maxCacheCount: 100,
        storageStrategy: DOMStorageStrategy,
    })
    public getWorklistRemaining(workqueueId: string, worklistIdOrName: string, dto: SearchBarDto): Observable<number> {
        const url = `${this.apiUrl}/workqueue/getWorkl

[2021-01-30 19:09] damianroszyk opened #98 "StorageStrategy - removeAtIndex add entity to parameters"
Hello,
thanks for the great lib!

I am writing Indexeddb IAsyncStorageStrategy and decided to store cache results in separate rows by changing cacheKey dynamically based on parameters using this method
[code]
This works great for me but I have encountered a problem here -> https://github.com/angelnikolov/ts-cacheable/blob/master/cacheable.decorator.ts#L67
`removeAtIndex` does not pass `entity` the

[2021-02-09 21:50] angelnikolov commented on #98
@damianroszyk Sorry for the late response, but can you provide a snippet of where you use `makeCacheKey` and where you expect `entity` to be provided? Also, is entity the found cache pair?

[2021-02-16 19:33] damianroszyk commented on #98
Hi, sorry for my late response :)
Here is the strategy that I wrote ( relevant parts ) that uses `idb` lib to store cache in indexeddb
[code]

Here is the ICachePair interface which I use to create cacheKey
[code]

[2021-02-18 12:47] angelnikolov commented on #98
@damianroszyk Hm, I got your idea. Maybe a `remove` method would make a lot more sense, but I remember there was a reason to remove by index. We have a couple of options:
1. Deprecate `removeByIndex` and introduce `remove` (and update our internal storage strategies to use it instead)
2. Add the extra entity parameter to the callback (what you suggested)

In your case, what would be a better and c

[2021-02-19 07:53] damianroszyk commented on #98
In my case I just need extra parameter `entity` and that'd be sufficient, but then I'd think about changing `updateAtIndex` the same way...
So maybe for now it's better to equalize those two methods

[code]

wdyt ?
However it'd be a breaking change because of parameters order so I am not sure what's best here.

[2021-02-19 12:11] angelnikolov commented on #98
To be honest, I am more inclined to add the `update()` and `remove()` methods and use those with priority instead of the `index`-based ones. Would that work for you?

[2021-02-19 12:13] damianroszyk commented on #98
Sounds good!

[2021-03-06 22:35] angelnikolov commented on #98
Fixed in #99

[2021-03-06 22:38] #98 closed

[2021-03-08 17:47] pfleenor opened #100 "GlobalCacheConfig.storageStrategy not used in Angular 9?"
I've specified `GlobalCacheConfig.storageStrategy = LocalStorageStrategy` "up top" in my app component yet the @Cacheable decorator doesn't use it.  Specifying it directly does work
`@Cacheable({ storageStrategy: LocalStorageStrategy })
  get():{}
 `

Does this working angular?

[2021-03-08 18:08] angelnikolov commented on #100
@pfleenor Can you show me where you've specified it? We have unit tests covering that and they seem to pass. Maybe there's something else going on..

[2021-03-08 18:40] pfleenor commented on #100
Thanks for the quick response.  I currently have it in the main app component constructor
[code]
My test service is injected in the root and uses @Cacheable
[code]

The data gets cached, but uses in memory instead of local storage.

[2021-03-08 20:24] angelnikolov commented on #100
I think I know what the issue is here. The `AppComponent` constructor is invoked at a later stage than the runtime decorators are evaluated.
You need to place your global config before Angular bootstraps. Try doing that at the top of the same file where your `AppComponent` is or even your `main.ts` file.

[2021-03-20 22:58] angelnikolov commented on #100
@pfleenor Has this helped you?

[2021-03-23 20:02] pfleenor commented on #100
I'm pretty sure, you're correct and what you suggested would fix it.  I unfortunately haven't had time to try it and ended up using a different library.

[2021-03-24 10:47] KG3RK3N opened #102 "Possibility to cache per instance"
We have the problem, that we can't cache per instance. That necessary for us because we have a service instance per entity for odata.

The problem is, that currently the cache for a method is per class, not instance. That makes sense of the most implementations, but a possibility to support per instance or a workaround was nice.

I have a simple application created that shows the problem, the resu

[2021-03-24 11:26] angelnikolov commented on #102
Hey @KG3RK3N! Thanks for the detailed explanation.
I believe you've taken the right path to solve the issue. Unfortunately, I can't think of another way to do it, since this is how the cache works in general. It decorates the class methods before the class is instantiated.

[2021-03-24 11:27] angelnikolov commented on #100
Okay, thanks for the update.

[2021-03-24 11:27] #100 closed

[2021-03-24 13:31] KG3RK3N commented on #102
@angelnikolov Thanks for the fast response!
I will see that I can find a good solution for this scenario and hopefully we hear us in the PR again 😄

[2021-03-24 14:49] angelnikolov commented on #102
Btw, you could also try something like this (in case you are subclassing a common class for your different services)
[code]

And then use it like
[code]

[2021-03-25 08:12] KG3RK3N commented on #102
Thanks for the example.
Currently my workaround for extended classes is the sample below:

[code]

But that don't resolve my problem, because sometimes its necessary that I need access to a sub collection endpoint. For example:

[code]
And that is currently not possible because each `PersonAclService` instance have the same cache.

[2021-03-26 22:59] angelnikolov commented on #102
@KG3RK3N There are ways to accomplish that (explained [here](https://dev.to/angular/decorators-do-not-work-as-you-might-expect-3gmj) for example).
However that will require a large change to the decorators which I don't think we can make right now since it might affect other users.
Could maybe including the execution context in all calls of the storage strategy help you? That way you could create

[2021-03-28 16:01] dkruchok opened #103 "JSON parse type issues"
Hi, get an error on the compilation for **DOMStorageStrategy** and **LocalStorageStrategy**

Simply fixed this with
`return JSON.parse(data || '{}') || {};`

In this line:
<img width="650" alt="Screenshot 2021-03-28 at 18 57 09" src="https://user-images.githubusercontent.com/11375256/112758505-748ca300-8ff7-11eb-8e0c-3aeb3fa8fd46.png">

But you can add more checks of course =)

<img width="1287" a

[2021-03-28 16:21] angelnikolov commented on #103
@dkruchok Hm, is there a reason you are compiling the library? You should be using the library through the already-compiled javascript artifacts which are published.

[2021-03-28 16:33] dkruchok commented on #103
I agree, that's can be my local issue because previously everything was Ok for a while. But I created a custom cache storage strategy and that's happened. Maybe my lining just too strict =)
But anyhow that's a piece of code that can be improved =)
`localStorage.getItem()` can return either a string or null. And `JSON.parse()` requires a string, so it would be nice to check the `localStorage.getIte

[2021-04-08 08:07] davidoween opened #104 "Cache query params"
hi.
How could I cache all the requests with query params, in such a way that when consulting one it does not eliminate the other?

[2021-04-10 16:26] angelnikolov commented on #104
@davidoween Have you checked the `maxCacheCount` property of the cacheable config in the [documentation](https://github.com/angelnikolov/ts-cacheable#configuration)?

[2021-04-10 16:28] angelnikolov commented on #103
To be honest, I'd rather let this fail since this could be a symptom to something else going on in user code which needs attention. Closing for now, but please reopen if you still have an issue.

[2021-04-10 16:28] #103 closed

[2021-04-13 14:37] KG3RK3N commented on #102
@angelnikolov Greate idea, that should resolve my issue if the class instance available in the storage strategy methods.

[2021-04-20 19:14] KG3RK3N commented on #102
@angelnikolov Thanks very much.

With the follow code sample for the custom strategy I have fixed the problem with the new context accessibility:

[code]

[2021-04-23 18:00] #102 closed

[2021-05-07 13:19] #104 closed

[2021-05-07 19:07] davidoween commented on #104
How works it?

El vie., 7 may. 2021 15:19, Angel Nikolov ***@***.***>
escribió:

[2021-06-07 12:16] ismailkoksal opened #110 "Refresh data"
Hello, when I'm adding a new item, it don't refresh data

[code]

[2021-06-07 12:42] ismailkoksal commented on #110
nvm, I thought it automatically refresh. I need to it manually

[2021-06-07 13:32] ismailkoksal commented on #110
I don't know how refresh data, it still doesn't work

[2021-06-09 21:21] angelnikolov commented on #110
@ismailkoksal The cache will be cleared once the Observable returned from the method you've decorated with CacheBuster() has emitted.
The issue here is that the CacheBuster also works with `tap()` as you can see here https://github.com/angelnikolov/ts-cacheable/blob/master/cache-buster.decorator.ts#L17.
Basically, in your case, your `tap()` call will be executed before the CacheBuster one, because

[2021-06-09 21:33] ismailkoksal commented on #110
I also tried this

[code]

Still don't work

[2021-06-09 21:34] ismailkoksal commented on #110
Can you provide an example to my code on how to refresh after adding an item please

[2021-06-10 08:23] ismailkoksal commented on #110
This is working

[code]

[code]

[2021-06-10 08:41] angelnikolov commented on #110
@ismailkoksal Can you check this example?
https://stackblitz.com/edit/ngx-cacheable-my31me?file=src%2Fapp%2Fapp.component.ts
We have a get/update/get and it all works. It uses the latest version of `ts-cacheable`.

[2021-06-10 08:48] #110 closed

[2021-07-26 11:39] abdulrahman1997x opened #111 "invoking a function after maxAge ends"
hi is there anyway i can run a function right after maxAge ends
thank you

[2021-08-02 12:43] execptionerror commented on #10
[[Already Solved] TypeError: rxjs_1.lastValueFrom is not a function](https://exerror.com/typeerror-rxjs_1-lastvaluefrom-is-not-a-function/)

[2021-08-03 02:50] fasidOnGit opened #112 "How to keep cache isolated between different users ?"
Let us consider the following method

[code]
If I switch users in the same machine in the same window (like logout and login). I see that the cache from the previous user is used for the currently logged-in user. which yields me totally wrong set of values.

I also tried to set the `globalCacheKey` to be a unique id to isolate the cache between multiple users. But it doesn't work.

Thanks in advan

[2021-08-03 03:13] fasidOnGit commented on #112
`globalCacheKey` is partially fixing the issue. It does create unique entries in `localStorage`, But when I change the value of `globalCacheKey` again, it doesn't create a new entry for that in `localStorage` rather, still use the old one. is it intended ?

[2021-08-11 18:34] angelnikolov commented on #112
Hey @fasidOnGit, I think this should be left to user land since we cant make any assumptions on when and how to clear the cache.
The global cache key is just for the purposes of name-spacing your cache storage.

[2021-08-12 04:24] fasidOnGit commented on #112
That only works during the app bootstrap. switching reactively between cache key looks like not possible.

[2021-08-12 09:49] angelnikolov commented on #112
Correct, it only works once. For further separation you'd likely create your own storage strategy which switches between multiple namespaces

[2021-08-12 10:40] fasidOnGit commented on #112
Alright, thanks for the explanation.

[2021-08-12 10:40] #112 closed

[2021-10-01 22:35] #111 closed

[2022-01-05 21:13] gurramswadeep opened #115 "inMemoryStorageStrategy: What is the in-memory size that can be utilized using the cacheable decorator?"
I want to use in-memory storage strategy for caching in my angular application!

Question1: Do we have any limit for in-memory cache size and what is the size?

Question2: Can we assign in-memory size to "maxCacheCount"? Since size is in multiple formats(kb/gb/bytes). If Yes, which format should be used to assign the in-memory size to maxCacheCount?

[2022-01-06 20:29] angelnikolov commented on #115
Hey @gurramswadeep. The `maxCacheCount` just defines the `count` of caches per method. It does not define it in bytes. I guess you can calculate that yourself, based on what you expect the response to be and the maximum amount of memory you'd want to use. There's no limit on how much the cache size can be, that depends on the browser running your application.

[2022-01-13 14:58] angelnikolov commented on #115
@gurramswadeep Please open a new issue if my answer wasn't enough for you.

[2022-01-13 14:58] #115 closed

[2022-03-28 13:44] BD4vid777 opened #119 "Does this work with subscribe?"
Hi there I can't get it work with such a GET request.

I even Made extra function for this in get method, but still nothing

[code]

[code]

[2022-04-29 09:40] angelnikolov commented on #119
@BD4vid777 Hey, what exactly isn't working? It looks fine to me? Do you have a Stackblitz with a repro?

[2022-06-11 10:02] #119 closed

[2022-06-29 11:39] ragtam opened #121 "[@CacheBuster()][Feature Proposal] Instant cache busting"
Hello,

I had a look at `CacheBuster `decorator, seems that it will clear the cache once observable from decorated method emits (done in `tap `rxjs operator): clearing the cache happens **after** method has been executed.

What do you think about adding a configuration option, so that it was possible to bust the cache **before** decorated method has been called?

If you agree, I would be happy to

[2022-07-04 11:00] ragtam commented on #121
Great! I am on it then :)

[2022-07-22 12:47] rasikabayaskar opened #122 "Caching for urls without parameters"
Hello,
I am trying to use ts-cacheable for my project,
I added @cacheable for the endpoints and observed that for urls with params it is working fine but for urls without parameters , I am not able to cache the end points
Will it only work if it has path params?
Url for which not working
Https://<server-name>/companies
Https://<server-name>/roles

Url for which caching is working
Https://<server-n

[2022-08-03 13:40] #122 closed

[2022-09-28 04:09] #121 closed

[2022-10-12 13:27] Rhobal opened #124 "Adapt description about "Cache busting" when different parameters are used"
The description contains the following information:

To me, this description is misleading and usefulness would be very limited. My understanding is that the result for the previous parameter remains in the cache (not "busted") and the result for the new parameter is also cached.

Also interesting would be the information whether the same objects are returned (i.e. manipulation of the cached resul

[2022-10-12 15:35] Rhobal commented on #124
Thanks for the quick response and clarification.
`maxCacheCount` description reads `maximum allowed unique caches (same parameters)`, while just above, it reads "different parameters"

[2022-10-12 21:03] angelnikolov commented on #124
@Rhobal Hm, well spotted. It doesn't make sense for it to be `(same parameters)`. Will update it, thanks!

[2022-10-12 21:10] angelnikolov commented on #124
@Rhobal Updated, thanks for reporting this!

[2022-10-12 21:10] #124 closed

[2022-10-13 12:41] jono-coder commented on #103
Hi.  I'm also finding this to be an issue.  I change the source code every time a new release comes along.  This error has been at least around since a couple of Angular versions back.

All that I'm doing is a "npm install ts-cacheable" which creates a line in package.json.  The error occurs when running the "ng server..." command.

Angular 14.2.6

[2022-11-08 17:26] hsq125 opened #125 "Observable<XXXXXX>>' is not assignable to parameter of type 'TypedPropertyDescriptor<ICacheable<Observable<any>>>'."
The following

[code]

gives the following compilation error

[code]

It was however working perfectly with ngx-cacheable.

[2022-11-11 18:42] geraparra commented on #125
I've got the same error any idea?

[2022-11-12 21:05] angelnikolov commented on #125
@hsq125 @geraparra What versions of rxjs are you running?
We have made a mistake [here ](https://github.com/angelnikolov/ts-cacheable/pull/123/files#r934044981) and added rxjs as a dependency. Will fix that now.

[2022-11-12 21:14] #125 closed

[2022-11-14 19:35] hsq125 commented on #125
I'm running "rxjs": "~7.5.5",

[2022-11-14 19:48] hsq125 commented on #125
Upgraded to 1.0.9 and the problem is solved.
Thanks for the fix!

[2022-11-28 23:04] geraparra opened #130 "Support for optional parameters"
Hi,

I'm facing an issue when using optional parameters.

This an example of the method definition:

  @Cacheable()
  getSpareLocations(locationId?: number, partId?: number): Observable<SpareLocationDto> {
    ....
    return this.http.get<SpareLocationDto>(this.apiEndpointService.getSpareLocationEndpoint(), httpParams);
  }

I reuse and call this method in differente screens with different parame

[2022-11-29 22:25] angelnikolov commented on #130
@geraparra So, the way we figure out what the `cacheKey` is (the thing which we use to search for cache) is by using a `hasher` function, which takes your parameters and creates the key on every call, based on the parameters.
The default one is this
[code]
As you can see, we are checking for undefined there. So I suggest you just add your own hasher which doesnt do that by either providing the `ca